.hoverText {
    transition:
        0.35s font-weight,
        0.35s color;
}

.hoverText:hover {
    font-weight: 900;
    color: rgb(169, 169, 169); /* Changed to gray */
}

/* To the right */
.hoverText:hover + .hoverText {
    font-weight: 500;
    color: rgb(128, 128, 128); /* Changed to gray */
}

.hoverText:hover + .hoverText + .hoverText {
    font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgb(128, 128, 128); /* Changed to gray */
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
}